* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 95vw;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
  color: #414040;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  opacity: .9;
}

a:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translate(0, -10rem);
            transform: translate(0, -10rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translate(0, -10rem);
            transform: translate(0, -10rem);
  }
  100% {
    opacity: 1;
  }
}

/* media queries */
/*@media screen and (max-width: 1000px){
    nav {
        padding: 3.5rem 5rem 0;
    }

    .brand-name {
        text-align: center;
    }

    .trips {
        flex-direction: column;
    }

    .small, .big {
        flex-basis: 100%;
        height: 35rem;
    }
}

@media screen and (max-width: 790px) {
    nav {
        align-items: flex-start;
        justify-content: flex-end;
    }

    h1 {
        font-size: 2.8rem;
    }

    form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    label {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    input, textarea {
        width: 100%;
        margin: 0; 
    }

    button {
        margin: 1rem auto;
        text-align: center;
    }

    section, .captures {
        padding: 4rem 0 0 0;
    }

    div .brand-name {
        display: none; 
    }

    .destinations {
        padding: 0px;
    }

    .destinations .title {
        margin: 4rem; 
    }

    .packages{
        margin-bottom: 1rem;
    }

    .logo {
       // background-image: url(/assets/img/The\ Sea\ Company\ Logo.png);
        width: 10rem;
        height: 10rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    .images div {
        padding: 0px;
    }

    .brand-name {
        display: none;
    }

    .responsive {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    #hamburger-menu {
        display: block;
        font-size: 2rem;
    }
}
*/
.heading-primary {
  font-size: 6.2rem;
  letter-spacing: .5rem;
  font-family: 'Cinzel', serif;
}

.heading-secondary {
  font-size: 2.7rem;
  font-family: 'Cinzel', serif;
  letter-spacing: .3rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-family: 'Cinzel', serif;
  color: #414A4f;
  margin-bottom: 3.5rem;
}

.heading-quaternary {
  font-size: 1.35rem;
}

.paragraph {
  padding: 3.5rem 2rem 1.5rem;
  display: block;
  line-height: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(55, 59, 68, 0.7)), to(rgba(66, 134, 244, 0.7))), url(/assets/img/sea-main.jpg);
  background-image: linear-gradient(to bottom right, rgba(55, 59, 68, 0.7), rgba(66, 134, 244, 0.7)), url(/assets/img/sea-main.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
}

.header__logo-box {
  height: 7rem;
}

.header__logo {
  height: 100%;
  margin-left: 4rem;
  margin-top: 5.5rem;
}

.header__title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #eee;
  opacity: 1;
}

.navigation {
  position: relative;
}

.navigation__checkbox {
  display: none;
}

.navigation__checkbox:checked ~ .navigation__checkbox__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__button {
  background-color: rgba(238, 238, 238, 0.7);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 5.5rem;
  right: 4rem;
  z-index: 5;
}

.navigation__icon {
  margin-top: 3.5rem;
  position: relative;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  color: #373B44;
  display: inline-block;
  z-index: 3;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(55, 59, 68, 0.7)), to(rgba(66, 134, 244, 0.7)));
  background-image: linear-gradient(to bottom right, rgba(55, 59, 68, 0.7), rgba(66, 134, 244, 0.7));
  position: absolute;
  top: 6rem;
  right: 5.5rem;
  z-index: 4;
}

.navigation__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.navigation__item {
  text-align: center;
}

.navigation__link, .navigation__link:visited, .navigation__link:link {
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #2b5876;
  margin: 1rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #eee 50%);
  background-size: 225%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

section {
  text-align: center;
  padding: 12.5rem 8rem;
}

section:nth-of-type(even) {
  background-color: #c1d0db;
}

i {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  color: #2b5876;
}

form {
  width: 80%;
  margin: 0 auto;
}

button {
  background-color: #2b5876;
  border-radius: .4rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-size: 1.15rem;
  font-weight: bold;
  opacity: 0.75;
  border: 0;
  color: #eee;
}

button:hover {
  opacity: 1;
}

footer {
  text-align: center;
  background-color: #414A4f;
  color: #eee;
  text-transform: uppercase;
}

footer p {
  padding-top: 5rem;
  margin: 0;
}

footer i {
  color: #eee;
  padding-left: 1rem;
}

/* || Sections styles */
.captures, .destinations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.contact {
  padding-bottom: 80px;
}

.images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images div {
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  padding: 20px;
  height: 350px;
}

.small {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.big {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.fas {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fas:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.trips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.packages {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 5rem 5rem 0 5rem;
  text-align: center;
}

.discover {
  color: #2b5876;
  font-size: small;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}
/*# sourceMappingURL=main.css.map */