* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #414040;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  opacity: .9;
}

a:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translate(0, -10rem);
            transform: translate(0, -10rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translate(0, -10rem);
            transform: translate(0, -10rem);
  }
  100% {
    opacity: 1;
  }
}

/* media queries */
/*@media screen and (max-width: 1000px){
    nav {
        padding: 3.5rem 5rem 0;
    }

    .brand-name {
        text-align: center;
    }

    .trips {
        flex-direction: column;
    }

    .small, .big {
        flex-basis: 100%;
        height: 35rem;
    }
}

@media screen and (max-width: 790px) {
    nav {
        align-items: flex-start;
        justify-content: flex-end;
    }

    h1 {
        font-size: 2.8rem;
    }

    form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    label {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    input, textarea {
        width: 100%;
        margin: 0; 
    }

    button {
        margin: 1rem auto;
        text-align: center;
    }

    section, .captures {
        padding: 4rem 0 0 0;
    }

    div .brand-name {
        display: none; 
    }

    .destinations {
        padding: 0px;
    }

    .destinations .title {
        margin: 4rem; 
    }

    .packages{
        margin-bottom: 1rem;
    }

    .logo {
       // background-image: url(/assets/img/The\ Sea\ Company\ Logo.png);
        width: 10rem;
        height: 10rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    .images div {
        padding: 0px;
    }

    .brand-name {
        display: none;
    }

    .responsive {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    #hamburger-menu {
        display: block;
        font-size: 2rem;
    }
}
*/
.heading-primary {
  font-size: 9rem;
  letter-spacing: .5rem;
  font-family: 'Cinzel', serif;
  text-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.5);
}

.heading-secondary {
  font-size: 4rem;
  font-family: 'Cinzel', serif;
  letter-spacing: .3rem;
  font-weight: 400;
  text-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.heading-tertiary {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#c1d0db), to(#2b5876));
  background-image: linear-gradient(to bottom right, #c1d0db, #2b5876);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px #414A4f;
  margin-bottom: 5rem;
  text-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}

.heading-quaternary {
  font-size: 3rem;
  color: #eee;
  letter-spacing: .3rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0%;
  overflow-wrap: break-word;
  display: inline-block;
  width: 50%;
  text-align: right;
  padding: 1.5rem 2rem;
  background-color: rgba(193, 208, 219, 0.9);
}

.paragraph {
  font-size: 1.5rem;
  padding: 3.5rem 2rem 1.5rem;
  display: block;
  line-height: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-big {
  margin-bottom: 4rem;
}

.btn {
  display: inline-block;
  border-radius: 50rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  font-size: 1.7rem;
}

.btn:link, .btn:visited {
  color: #eee;
}

.btn:hover {
  -webkit-box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn:active {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-discover:link, .btn-discover:visited {
  padding: 1rem 2.5rem;
  background-color: #2b5876;
}

.section__about-us--images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__about-us--images img {
  height: 35rem;
  background-position: center;
  background-size: 100%;
  background-clip: content-box;
  padding: 2rem;
  -webkit-box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.2);
  margin: 0 2rem 4rem 0;
  border-radius: 4px;
}

.section__about-us--images-small {
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.section__about-us--images-small:hover {
  -webkit-transform: scale(1.1) translateY(-1.5rem);
          transform: scale(1.1) translateY(-1.5rem);
  -webkit-box-shadow: 1.5rem 1.5rem 4.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 1.5rem 1.5rem 4.5rem rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.section__about-us--images-big {
  -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.section__about-us--images-big:hover {
  -webkit-transform: scale(1.1) translateY(-1.5rem);
          transform: scale(1.1) translateY(-1.5rem);
  -webkit-box-shadow: 1.5rem 1.5rem 4.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 1.5rem 1.5rem 4.5rem rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.packages__card--title {
  height: 30rem;
  position: relative;
}

.packages__card--title figure {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.packages__card--title-1 {
  background-image: url(/assets/img/polynesia.jpg);
}

.packages__card--title-2 {
  background-image: url(/assets/img/patagonia.jpg);
}

.packages__card--title-3 {
  background-image: url(/assets/img/caribbean.jpg);
}

.packages__card--title-4 {
  background-image: url(/assets/img/madagascar.jpg);
}

.packages__card--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.2rem;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

.packages__card--details-price {
  border: 1px solid #414A4f;
  padding: 2rem 5rem;
  width: 50%;
}

.packages__card--details-group {
  border: 1px solid #414A4f;
  padding: 2rem 5rem;
  width: 50%;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(66, 134, 244, 0.8)), to(rgba(55, 59, 68, 0.8))), url(/assets/img/sea-main.jpg);
  background-image: linear-gradient(to bottom right, rgba(66, 134, 244, 0.8), rgba(55, 59, 68, 0.8)), url(/assets/img/sea-main.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
}

.header__logo-box {
  height: 7rem;
}

.header__logo {
  height: 100%;
  margin-left: 4rem;
  margin-top: 5.5rem;
}

.header__title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #eee;
  opacity: 1;
  text-align: center;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #eee;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 20;
  cursor: pointer;
}

.navigation__icon {
  margin-top: 3.5rem;
  position: relative;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #373B44;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  bottom: -.8rem;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#373B44, #4286f4);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 5;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.navigation__nav {
  height: 100vh;
  z-index: 10;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s cubic-bezier(0, 0.7, 0.82, 1.25);
  transition: all 0.4s cubic-bezier(0, 0.7, 0.82, 1.25);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:visited, .navigation__link:link {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #eee;
  margin: 1rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #c1d0db 50%);
  background-size: 225%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  color: #373B44;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  bottom: -1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section {
  text-align: center;
  padding: 12.5rem 20rem;
  position: relative;
}

.section:nth-of-type(even) {
  background-color: #c1d0db;
}

.section__about-us--description-text .paragraph {
  line-height: 3rem;
  margin-bottom: 5rem;
}

.section__trips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__trips--packages {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 2rem 2rem 5rem 2rem;
  text-align: center;
  border-radius: 4px;
  margin: 0 5rem 5rem 5rem;
  background-color: #eee;
  -webkit-box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.section__trips--packages:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

form {
  width: 80%;
  margin: 0 auto;
}

button {
  background-color: #2b5876;
  border-radius: .4rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-size: 1.15rem;
  font-weight: bold;
  opacity: 0.75;
  border: 0;
  color: #eee;
}

button:hover {
  opacity: 1;
}

footer {
  text-align: center;
  background-color: #414A4f;
  color: #eee;
  text-transform: uppercase;
}

footer p {
  padding-top: 5rem;
  margin: 0;
}

footer i {
  color: #eee;
  padding-left: 1rem;
}

/* || Sections styles */
.contact {
  padding-bottom: 80px;
}
/*# sourceMappingURL=main.css.map */