@import "abstract/variables";
@import "abstract/functions";
@import "abstract/mixins";

@import "base/general";
@import "base/keyframes";
@import "base/media";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/form";
@import "components/popup";
@import "components/images";
@import "components/card";

@import "layout/footer";
@import "layout/header";
@import "layout/navigation";

@import "pages/home";



form {
    width: 80%;
    margin: 0 auto;
}

// label, input, textarea {
//     display: inline-block;
//     font-family: inherit;
// }

// label {
//     width: 30%;
//     text-align: right;
// }

// input {
//     width: 50%;
//     margin: 1.5% 10% 1.5% 4%;
//     height: 3.5rem;
//     vertical-align: middle;
//     font-size: 1rem;
// }

// textarea {
//     width: 50%;
//     margin: 1% 10% 1% 4%;;
//     vertical-align: middle;
//     font-size: 1rem;
// }

// input:focus, button, textarea:focus {
//     outline: none;
//     border: .2rem solid $color-primary-2;
// }

button{
    background-color: $color-primary-2;
    border-radius: .4rem;
    text-transform: uppercase;
    padding: 1rem 3rem;
    font-size: 1.15rem;
    font-weight: bold;
    opacity: 0.75;
    border: 0;
    color: $color-white;
}

button:hover {
    opacity: 1;
}

footer {
    text-align: center; 
    background-color: $color-secondary-1;
    color: $color-white;
    text-transform: uppercase;
}

footer p {
    padding-top: 5rem;
    margin: 0; 
}

footer i {
    color: $color-white; 
    padding-left: 1rem;
}



/* || Sections styles */


.contact {
    padding-bottom: 80px; 
}





