.header {
    height: 100vh;
    background-image: $linear-gradient-tertiaries, url(/assets/img/sea-main.jpg);
    background-position: top;
    background-size: cover;
    position: relative;

    &__logo-box {
        height: 7rem;
    }

    &__title-box {
        @include centerAbsolute;
        color: $color-white; 
        opacity: 1;
        text-align: center;
        animation: title-appear 1s ease-in-out;
    }

    &__arrow {
        height: 2.5rem;
        width: 2.5rem;
        opacity: .8;
        border-right: .3rem solid $color-white;
        border-bottom: .3rem solid $color-white;
        position: absolute;
        bottom: 10%;
        left: 50%;
        opacity: 0;
        transform: rotate(45deg) translate(-100%, -50%);
        animation: arrow-appear 1.5s 2s ease-in infinite;
        border-radius: .3rem;
    }
}

