.header {
    height: 100vh;
    background-image:   linear-gradient(to bottom right, 
                        rgba($color-tertiary-1, .7), 
                        rgba($color-tertiary-2, .7)), 
                        url(/assets/img/sea-main.jpg);
    background-position: top;
    background-size: cover;
    position: relative;

    &__logo-box {
        height: 7rem;
    }

    &__logo {
        height: 100%;
        margin-left: 4rem;
        margin-top: 5.5rem;
    }

    &__title-box {
        @include centerAbsolute;
        color: $color-white; 
        opacity: 1;
    }
}