@mixin center {
    width: 95vw;
    margin: 0 auto;
}

@mixin centerAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin imageOnFocus {
    transform: scale(1.1) translateY(-1.5rem);
    box-shadow: 1.5rem 1.5rem 4.5rem rgba($color-black, 0.2);
    z-index: 2;
}

@mixin infoSnippet {
    padding: 2rem 5rem;
    width: 45%;
    background-color: rgba($color-primary-1, .7);
    border-radius: 2rem;
    position:relative;
}

@mixin button {
    margin: 0 auto;
    width: 60%; 
    padding: 1rem 3rem; 
    background-color: $color-primary-2;
}

@mixin headingQuaternary {
    font-size: 3rem;
    color: $color-white;
    letter-spacing: .3rem;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    display: inline-block;
    width: 50%;
    text-align: right;
    padding: 1.5rem 2rem;
    background-color: rgba($color-primary-1, 0.9);

}
