.packages__card {

    &--title {
        height: 30rem;
        position: relative;

         & figure {
            width: 100%;
            min-height: 100%;
            margin: 0 auto;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 4px;
            backface-visibility: hidden;
            overflow: hidden;
         }
    
        &-1{
            background-image: url(/assets/img/polynesia.jpg);
        }; 

        &-2{
            background-image: url(/assets/img/patagonia.jpg);
        }; 

        &-3{
            background-image: url(/assets/img/caribbean.jpg);
        }; 

        &-4{
            background-image: url(/assets/img/madagascar.jpg);
        };   
    }

    &--details {
        display: flex;
        font-weight: 300;
        justify-content: space-around;
       
        &-price {
            @include infoSnippet;
        }

        &-group {
           @include infoSnippet;
        }
    }
}