.carousel{
    position: relative;
    height: 100%;

    &__activator {
        display: none;
    }

    // &__control {
    //     height: 3rem;
    //     width: 3rem;
    //     cursor: pointer;
    //     border-width: 5px 5px 0 0;
    //     border-style: solid;
    //     border-color: $color-tertiary-1;
    //     opacity: .5;
    //     z-index: 6;
    //     display: block;
    //     position: absolute;
    //     top: 50%;
        
    //     &--forward {
    //         transform: rotate(45deg);
    //         left: 100%;
    //     }

    //     &--backward {
    //         transform: rotate(225deg);
    //         right: 100%;
    //     }
    // }

    &__slide {
        position: relative;
        display: none;
        background-color: rgba($color-primary-1, .8);
        width: 50%;
        margin: 5rem auto;
        border-radius: .4rem;
        @include centerAbsolute;

        &--picture {
            position: absolute;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;

            & figure img {
                height: 15rem;
                width: 15rem;
                border-radius: 100%;
                box-shadow: 0 1.5rem 2rem rgba($color-black, .5);      
            }

            &-figcaption {
                font-size: 2rem;
                font-weight: 900;
                text-transform: uppercase;
                color: $color-tertiary-1;

                & span {
                    display: block;
                }
            }
        }

        &--text {
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: .2rem;
        }
    }

    &__indicators {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0%;
    }

    &__indicator {
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        display: inline-block;
        z-index: 2;
        cursor: pointer;
        opacity: 0.5;
        margin: 0 .25rem 0 .25rem;
        background-color: $color-tertiary-1;
    
        &:hover {
            opacity: 1;
        }
    }
}

@for $i from 1 through $slides {
    .carousel__activator:nth-of-type(#{$i}):checked ~ .carousel__slide:nth-of-type(#{$i}){
        display: block;
        animation: slides 1s ;
    }
}

@for $i from 1 through $slides {
    .carousel__activator:nth-of-type(#{$i}):checked ~ .carousel__indicator:nth-of-type(#{$i}){
       opacity: 1;
    }
}



