.trips{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__packages{
        flex-basis: 45%;
        padding: 2rem 2rem 5rem 2rem;
        text-align: center; 
        border-radius: 1rem;
        background-color: $color-white;
        box-shadow: 0 1.5rem 3.5rem rgba($color-black, 0.5);
        transition: all 0.4s;
        margin-bottom: 5rem;

        @include responsive(tab-port){
            flex-basis: 70%;
            margin: 2rem auto;
        }
        @include responsive(phone){
            flex-basis: 100%;
        }

        &:hover {
            transform: scale(.97, .97) translateY(1.5rem);
            box-shadow: 0 2.5rem 5rem rgba($color-black, 0.5);
            backface-visibility: hidden;
        }
    }
}
.packages__card {
    &--title {
        height: 25rem;
        position: relative;

         & figure {
            width: 100%;
            min-height: 100%;
            margin: 0 auto;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 1rem;
         }
    
        &-1{
            background-image: url(./assets/img/destination-polynesia-small-640px.jpg);
        }; 

        &-2{
            background-image: url(./assets/img/destination-patagonia-small-640px.jpg);
        }; 

        &-3{
            background-image: url(./assets/img/destination-carribean-small-640px.jpg);
        }; 

        &-4{
            background-image: url(./assets/img/destination-madagascar-small-640px.jpg);
        };   
    }

    &--details {
        display: flex;
        font-weight: 300;
        justify-content: space-around;
       
        &-price {
            @include infoSnippet;
        }

        &-group {
           @include infoSnippet;
        }
    }
}