//SECTION PADDING
.general-padding {
    padding: 12.5rem 10rem;

    @include responsive(tab-port){
        padding: 6rem 7rem;
    }

    @include responsive(phone) {
        padding: 6rem 5rem;
    }
    
}

//TOP
.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-top-medium {
    margin-top: 3rem;
}
.u-margin-top-big {
    margin-top: 4rem;
}

//BOTTOM
.u-margin-bottom-small {
    margin-bottom: 2rem;
}
.u-margin-bottom-medium {
    margin-bottom: 3rem;
}
.u-margin-bottom-big {
    margin-bottom: 4rem;
}
