.section {
    text-align: center;
    position: relative;

    &:nth-of-type(even) {
        background-color: $color-primary-1;
    }

    &__about-us {
        width: inherit;
        height: inherit;

        &--description-text {
            & .paragraph {
                line-height: 3rem;
                margin-bottom: 5rem;
            }
        }
    }

    &__trips{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: inherit;
        height: inherit;

        &--packages{
            flex-basis: 40%;
            padding: 2rem 2rem 5rem 2rem;
            text-align: center; 
            border-radius: 4px;
            margin: 0 5rem 5rem 5rem; 
            background-color: $color-white;
            box-shadow: 0 1.5rem 3.5rem rgba($color-black, 0.5);
            transition: all 0.4s;

            &:hover {
                transform: scale(.97, .97) translateY(1.5rem);
                box-shadow: 0 2.5rem 5rem rgba($color-black, 0.5);
                backface-visibility: hidden;
            }
        }
    }

    &__testimonials {

        &--carousel {
           height: 50vh;
        }
    }

    &__popup {
        background-image: $linear-gradient-tertiaries;
        position: fixed;
        z-index: 30;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease-in;

        &:target {
            visibility: visible;
            opacity: 1;
        }
    }
}



